.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.title {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#timer-label {
  font-size: 1.6em;
  margin-bottom: 15px;
}

#time-left {
  font-size: 5em;
  font-family: digital;
  margin-bottom: 25px;
}

button {
  background: none;
  outline: none;
  border: none;
  color: #000;
  cursor: pointer;
}
